@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Checkout

<li><a href="/Cart">Track Order @Model?.Lines.Count</a></li>